pymongo
pandas
sklearn
scipy
numpy
getopt
                                                                                                                                                                                                                                                                                                                                                                                                                